/*********** HEADER ************/
header {
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: white;
    color: #515151;
    font-family: sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo{
  padding: 0;
  margin: 0;
}

.Cart {
  float:right;
}

nav {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  background-color: #edcdc2; /* used to be #E5C3B8 */
  border-top: : 3px solid #fff;
  border-bottom: : 3px solid #fff;
}

nav a {
  display: inline-block;
  color: #515151;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: ;
  font-weight: bold;
}

.active {
  background-color: ;
  font-weight: bold;
}

/*********** BODY ************/

body {
  margin: 0;
  margin-top: 180px; /* below header+nav */
}

.intro-box{

}

/*********** FOOTER ************/

footer {
  position: fixed;
  bottom: 0;
  width: ;
}
