/*********** HEADER ************/
header {
    text-align: center;
    padding: 0;
    margin: 0;
    background-color: #f5f2f0;
    color: #515151;
    font-family: sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo{
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.Cart {
  float: right;
}

nav {
  margin: 0px;
  padding: 0px;
  background-color: #edcdc2; /* used to be #E5C3B8 */
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

nav a {
  display: inline-block;
  color: #515151;
  font-size: 18px;
  text-align: center;
  padding: 12px 50px;
  text-decoration: none;
}

nav a:hover {
  background-color: ;
  font-weight: bold;
}

.active {
  background-color: ;
  font-weight: bold;
}

/*********** BODY ************/

body {
  margin: 0;
  margin-top: 165px; /* below header+nav */
  font-family: sans-serif;
}

.title {
  position: ;
  text-align: center;
  padding: 15px;
  padding-top: 30px;
  color: gray;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}
/*********** HOME ************/

.home-background img{
  position: fixed;
  border: 0;
  width: 100%;
  height: auto;
  overflow: hidden; /*crop image*/
  margin-top: -6%; /*crop image*/
  z-index: -1; /*behind textbox*/
}

.intro-box{
  display: inline-block;
  position: relative;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  align: center;
  width: 625px;
  height: 300px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.intro-text {
  color: #515151;
  text-align: justify;
  padding: 60px;
  margin: auto;
  line-height: 1.5;
}

/*********** BROWSE ************/

.grid {
  position: ;
  padding: ;
  padding-top: 0;
  margin-left: 20%;
  margin-right: 20%;
  border: ; /* 2px blue solid; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
}

.box {
  display: block;
  margin: ;
  background-color: ;
  color: black;
  border-radius: 5px;
  border: ; /* 2px dodgerblue solid; */
  text-align: center;
  align: center;
  position:relative;
}

.flavor-image {
  width: 200px;
  height: 125px;
  object-fit: cover;
}

.flavor {
  color: #515151;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.flavor-desc {
  color: gray;
  font-family: sans-serif;
  font-size: 12px;
  font-style: italic;
  width: 160px;
  margin: auto;
}

a {
  text-decoration: none;
}

/*********** FOOTER ************/

footer {
  position: fixed;
  bottom: 0;
  right: 0;
}
