/* font-family: 'Playfair Display', serif; */
/* Playfair+Display:400,400i,700,700i,900,900i */

/* font-family: 'Open Sans', sans-serif; */
/* Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i */

/* font-family: 'Lato', sans-serif; */
/* Lato:100,100i,300,300i,400,400i,700,700i,900,900i */

body{
  background-color: black;
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.header{
  background: none;
  /* position:absolute; */
  /* top: -10%; */
  display:block;
}

.jumbotron{
  z-index:5;
  margin:0;
}

h1{
  font-family: 'Playfair Display', serif;
  color:white;
  z-index:5;
  margin:0;
}

h2{
  font-family: 'Playfair Display', serif;
  font-weight:400;
  /* font-size: ; */
  color:lightgray;
  /* position: -webkit-sticky; */
  /* Safari */
  /* position: sticky;
  top:20%; */
  /* color:white; */
  margin: 50px;
}

p{
  color:lightgray;
  font-size: 16px;
  margin-left:10%;
  margin-right:10%;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  /* top: -5%; */
  top: 0;
}

/* #gr-desc{
  margin-left:10%;
  margin-right:10%;
} */

#record-box{
  width:100%;
  height:65vh;
  /* border: 1px gray solid; */
  position:absolute;
  display:block;
  bottom:0;
  text-align:center;
}

#gr-orig{
  /* position: sticky; */
  display:inline-block;
  z-index:2;
  margin:auto;
  height:130vh;
  width: auto;
  object-fit: scale-down;
}

#spacer{
  /* background-color: blue; */
  /* width: 200px; */
  /* height: 100px; */
  /* float:left; */
  display:inline-block;
  width:100%;
  /* height:50%; */
  height:130vh;

}

/* #toptitle{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  position: absolute;
  margin:auto;
  text-align:center;
  justify-content: center;
} */

.allLinks{
  justify-content: center;
  text-align: center;
  display: inline-block;
  width:100%;
  margin:auto;
  padding:0;
  /* width:70%; */
  /* position: ; */
  z-index:5;
  position:absolute;
}

.link{
  display: inline-block;
  margin:auto;
  z-index:5;
}


.record-imgs{
  width: 100%;
  height: 150px;
  object-fit: scale-down;
  /* border: 1px #212121 solid; */
  margin:10px;
}

.record-img:hover {
  cursor: pointer;
  /* height:171px; */
}

/* ------- Starry night background animation from https://codepen.io/WebSonick/pen/vjmgu ------- */
/* ==============================================================================================
SED Innovations
https://sed.am
https://mkrtchyan.ga
================================================================================================= */

@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}
.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}
.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:-2;
}
.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:-1;
  -moz-animation:move-twink-back 600s linear infinite;
  -ms-animation:move-twink-back 600s linear infinite;
  -o-animation:move-twink-back 600s linear infinite;
  -webkit-animation:move-twink-back 600s linear infinite;
  animation:move-twink-back 600s linear infinite;
}

/* ========================================================================================= */


/* Return to Top (rocket) by https://codepen.io/Askwithloud/pen/yNRPWB */

#rocketmeluncur {
  position: fixed;
  bottom: 50px;
  z-index: 7;
  display: none;
  visibility: hidden;
  width: 26px;
  height: 48px;
  right: 25px;
  background: url(https://3.bp.blogspot.com/-GZOBULN1Q4s/VbNxQrf37EI/AAAAAAAAAPk/rak337seJ70/s1600/Ask.png) no-repeat 50% 0;
  opacity: 0;
  -webkit-transition: visibility .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -webkit-transform .6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  -moz-transition: visibility .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), -moz-transform .6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: visibility .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), opacity .6s cubic-bezier(0.6, 0.04, 0.98, 0.335), transform .6s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

#rocketmeluncur i {
  display: block;
  margin-top: 48px;
  height: 14px;
  background: url(https://1.bp.blogspot.com/-UR9I7YEuEUY/VXIJn8MrBPI/AAAAAAAAKRE/qZObHBd5zIo/s1600/rocket.png) no-repeat 50% -48px;
  opacity: .5;
  -webkit-transition: -webkit-transform .2s;
  -moz-transition: -moz-transform .2s;
  transition: transform .2s;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  transform-origin: 50% 0
}

#rocketmeluncur:hover {
  background-position: 50% -62px
}

#rocketmeluncur:hover i {
  background-position: 50% 100%;
  -webkit-animation: flaming .7s infinite;
  -moz-animation: flaming .7s infinite;
  animation: flaming .7s infinite
}

#rocketmeluncur.showrocket {
  visibility: visible;
  opacity: 1
}

#rocketmeluncur.launchrocket {
  background-position: 50% -62px;
  opacity: 0;
  -webkit-transform: translateY(-800px);
  -moz-transform: translateY(-800px);
  -ms-transform: translateY(-800px);
  transform: translateY(-800px);
  pointer-events: none
}

#rocketmeluncur.launchrocket i {
  background-position: 50% 100%;
  -webkit-transform: scale(1.4, 3.2);
  -moz-transform: scale(1.4, 3.2);
  transform: scale(1.4, 3.2)
}
