/******* STYLE REFERENCES *******/

/* Dark Grey*/
  /* color: #515151; */
/* Medium Grey */
  /* color: #7C7C7C; */
/* Neutral Pink */
  /* background-color: #edcdc2; */

/* Custom Title & Link Font */
  /* font-family: "Bangla MN", sans-serif; */
/* Regular & Descriptions Font */
  /* font-family: "Open Sans", sans-serif; */

/*********** EVERYTHING ************/

@font-face {
  font-family: "Bangla MN";
  src: url(BanglaMN.ttc) format('truetype');
}

html{
  margin:0;
  padding:0;
}

a {   /* Remove underlines from all links */
  text-decoration: none;
}

body {
  margin: 0;
  margin-top: 180px; /* space below header+nav */
  font-family: "Bangla MN", sans-serif;
  color: #7C7C7C;
}

p{
  font-family: "Bangla MN", sans-serif;
  color: #7C7C7C;
}

h2 {   /* Top of page text titles */
  text-align: center;
  padding: 10px;
  padding-top: 16px;
  margin: 0;
  color: #7C7C7C;
  font-family: "Bangla MN", sans-serif;
  font-weight: bold;
  font-size: 24px;
  /* text-transform: uppercase; */
}

/*********** HEADERS ************/
header {
  text-align: center;
  background-color: white;
  color: #515151;
  font-family: "Bangla MN", sans-serif;
  position: fixed;
  top: 0;
  width: 100%;
}

#header-background {
  position: fixed;
  object-fit: cover;
  width: 100%;
  height: 100px;
  z-index: -1;
}

#header-background img{
  position: fixed;
  left:0;
  width: 100%;
  height: 100px;
  object-fit: cover;
  overflow: hidden;
  opacity: 0.4;
  z-index: -1;
}

#logo{   /* BunBun BakeShop */
  display: inline-block;
}

h1{   /* Logo:  BakeShop */
  margin:0;
  margin-top: 30px;
  font-size: 35px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.9;
  color: #515151;
}

h1 span{   /* Logo:  BunBun */
  font-size: 44px;
  font-weight: bold;
  text-transform: uppercase;
  color: #515151;
}

#cart {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
  padding: 30px;
}

#cart img{
  width: 45px;
  height: auto;
}

#cartNumber {
  font-family: "Bangla MN", sans-serif;
  color: white;
  display: inline-block;
  z-index: 2;
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
  top: 36px;
  right: 40px;
}

nav {
  background-color: #edcdc2; /* used to be #E5C3B8 */
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}

nav a {
  display: inline-block;
  color: #515151;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 8px;
  height: 20px;
  text-decoration: none;
}

nav a:hover, .active {
  font-weight: bold;
  color: black;
  cursor: pointer;
}

/*********** HOME PAGE ************/

.home-background img{
  position: fixed;
  border: 0;
  width: 100%;
  height: auto;
  overflow: hidden; /*crop image*/
  margin-top: -6%; /*crop image*/
  z-index: -1; /*behind textbox*/
}

.intro-box{
  display: inline-block;
  position: relative;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  margin: auto;
  align: center;
  width: 625px;
  height: 300px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.delivery-text{
  text-align: center;
  font-weight: bold;
  color: #515151;
}

.intro-text {
  color: #7C7C7C;
  text-align: justify;
  padding: 60px;
  margin: auto;
  line-height: 1.7;
}

/*********** BROWSE PAGE ************/

.grid {
  padding-top: 0;
  margin-left: 20%;
  margin-right: 20%;
  /* border: 2px blue solid; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px 120px;
}

.box {
  display: block;
  /* color: black; */
  /* border-radius: 5px; */
  /* border: 2px dodgerblue solid; */
  text-align: center;
  position:relative;
}

.flavor-image {
  width: 100%;
  height: 125px;
  object-fit: cover;
}

.flavor-title {
  color: #515151;
  font-family: "Bangla MN", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.flavor-desc {
  color: gray;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  width: 200px;
  margin: auto;
  padding-bottom: 10px;
  line-height:1.2;
}

.box:hover {
  background-color: #edcdc2;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.box:hover .flavor {
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.box:hover .flavor-desc {
  color: black;
  cursor: pointer;
}

/*********** PRODUCT DETAILS ************/

#details-page{
  margin-left:14%;
  margin-right:14%;
}

/***** DETAILS: LEFT SIDE *****/
.left-side{
  float: left;
  width: 40%;
}

.backbutton{
  color: gray;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 10px;
  margin: 0;
  padding-left: 0;
}

#main-image{
  width:100%;
  height:270px;
  object-fit:cover;
  margin:0;
  padding:0;
}

.left-side ul{
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2px;
  margin: auto;
  padding: 0;
  transform: translate(0, -12%);
  width:100%;
  margin-bottom: 30px;
}

.left-side li{
  margin:0;
  padding:0;
}

.left-side .icing-img:hover{
  border: 1px solid lightgray;
  cursor: pointer;
}

.icing-img {
  width: 100%;
  height: auto;
}

.collapsible {
  margin: auto;
  padding-top: 5px;
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 1px solid lightgray;
  text-align: left;
  outline: none;
  font-size: 16px;
  font-family: "Bangla MN", sans-serif;
  color: #7C7C7C;
  background-color: white;
}

.collapsible:hover {
  font-weight: bold;
  border-bottom: 1px solid black;
  color: black;
  cursor: pointer;
}

.arrow {
  float: right;
  font-size: 30px;
  padding:0;
  margin:0;
  line-height: 1;
}

/***** DETAILS: RIGHT SIDE *****/
.right-side{
  float: right;
  width: 50%;
}

.right-side h1{
  padding-top: 15px;
  padding-bottom: 20px;
  margin-left:0;
  padding-left:0;
  color: #7C7C7C;
}

.details-desc{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight:300;
  margin-bottom: 50px;
  width: 100%;
}

h3{
  padding-bottom:10px;
  margin-bottom:0;
  font-weight: bold;
}

.right-side ul{
  display: inline-block;
  left:0;
  padding: 0;
  margin: 0;
  text-align: left;
  white-space:nowrap;
}

.right-side li{
  list-style-type: none;
  display: inline-block;
  width: auto;
  padding-right:20px;
  color: #515151; /*Dark Gray*/
}

.dchoc{
  padding-right:0;
}

.right-side li:hover select {
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.right-side li:hover {
  color:black;
  font-weight: bold;
  cursor: pointer;
}

select{
  width:120px;
  height:35px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 300;
  /* color: #515151; */
  /* color: black; */
  /* background-color: white; */
  text-align: center;
  border: 2px solid lightgray;
  border-radius: 0;
}

.pricing{
  /* margin-top: 100px; */
  display: inline;
  font-size: 20px;
}

#pagePrice{
  display: inline;
}

.addtocart{
  width:240px;
  height:60px;
  background-color: #edcdc2;
  color: #515151;
  font-family: "Bangla MN", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin: auto;
  padding-top: 13px;
}
/* Add to Cart button behaviors */
.addtocart:hover {
  color: black;
  border: 1px solid gray;
  outline: none;
  cursor: pointer;
}
.addtocart:active {
  background-color: #ebc9be;
  color: black;
  border: 1px solid lightgray;
  background-color: #edc6b9;
}
/* remove weird orange outline from selected buttons & dropdowns */
button:focus {
  outline: none;
}
select:focus {
  outline: none;
}
/* darken when clicked */
/* .addtocart:active {
  background-color: #edc6b9;
} */
/* added to cart message after clicking button */
#alert{
  display: inline-block;
  margin: auto;
  margin-left: 130px;
  color: #7C7C7C;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
}

/************** Cart ***************/

.back-buttons-cart {
  position:absolute;
  left:15%;
  top:22%;
}

.progress img{
  height: 170px;
  width: 500px;
  /* width: auto; */
  padding:0;
  margin:0;
  position:absolute;
  top: 17%;
  left:12%;
}

#progress-cart a{
  display:inline-block;
  position:absolute;
  left:238px;
  top: 207px;
  color: #515151;
  /* font-family: "Open Sans", sans-serif; */
  font-size: 13px;
}

#progress-delivery a{
  display:inline-block;
  position:absolute;
  left:332px;
  top: 207px;
  color: #515151;
  /* font-family: "Open Sans", sans-serif; */
  font-size: 13px;
}

#progress-billing a{
  display:inline-block;
  position:absolute;
  left:433px;
  top: 207px;
  color: #515151;
  /* font-family: "Open Sans", sans-serif; */
  font-size: 13px;
}

.title{
  /* flex: 80%; */
  /* margin-right:20%; /** to center on page **/ */
  /* margin-bottom: 70px; */
  text-align:center;
}

.flavor-glaze-quant{
  display:flex;
  width:70%;
  margin:auto;
  margin-top: 25px;
  justify-content:space-between;
  color: #515151;
  padding:0;
}

.new-item{
  display:flex;
  width:70%;
  height:50px;
  padding-bottom:30px;
  margin:auto;
  align-items: center;
  justify-content:space-between;
  border-bottom: 1px solid lightgray;
}

.new-item select{
  width:150px;
}

.flavor-glaze-quant .empty-left{
    width:20%;
    text-align: center;
}
.flavor-glaze-quant .flavor{
    width:20%;
    text-align: center;
    text-decoration: underline;
    /* border-bottom: 1px solid lightgray; */
}
.flavor-glaze-quant .glaze{
    width:20%;
    text-align: center;
    text-decoration: underline;
}
.flavor-glaze-quant .quantity{
    width:20%;
    text-align: center;
    text-decoration: underline;
}
.flavor-glaze-quant .empty-right{
    width:20%;
    text-align: center;
}

.remove-thumbnail{
      flex-grow: 1;
      text-align: left;
}
.remove{
  display:inline-block;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: lightgray;
  margin-left: 30px;
}

#item-thumbnail{
  flex-grow: 1;
  display:inline-block;
  height:50px;
  width:75px;
  object-fit: cover;
  vertical-align: middle;
  margin:10px;
  margin-left: 38px;
  border: 1px solid lightgray;
}

.item-flavor p{
  width:20%;
  text-align: center;
  text-align: left;
  vertical-align: bottom;
  padding: 0;
  padding-top: 15px;
  margin: 0;
  width: 150px;
  height: 35px;
  font-size: 16px;
}
.item-glaze{
  width:20%;
  text-align: center;
}
.item-quantity{
  width:20%;
  text-align: center;
}
.item-price{
  width:20%;
  text-align: right;
}

.calculate-price{
  display:flex;
  width:70%;
  margin:auto;
  /* justify-content:flex-end;
  align-content: flex-end;
  align-items: flex-end;
  text-align: right; */
}

.price-left-empty{
  width:70%;
}

.price-right{
  width:30%;
  text-align: center;
  margin:auto;
}

.calculate-rolls{
  display:flex;
  justify-content: space-between;
  height:20px;
  font-size: 14px;
}
.calculate-tax{
  display:flex;
  justify-content: space-between;
  height:20px;
  font-size: 14px;
}
.calculate-delivery{
  display:flex;
  justify-content: space-between;
  height:20px;
  font-size: 14px;
}

#disclaimer{
  border-bottom: 1px solid lightgray;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  color: gray;
  margin-top:20px;
  padding-bottom:30px;
  text-align: left;
}

.calculate-total{
  display:flex;
  justify-content: space-between;
  height:50px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.next-step{
  width:260px;
  height:60px;
  background-color: #edcdc2;
  color: #515151;
  font-family: "Bangla MN", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin: auto;
  padding-top: 13px;
}

.next-step:hover {
  color: black;
  border: 1px solid gray;
  cursor: pointer;
}

/* .back-checkout{
  display:flex;
  width: 70%;
  margin:auto;
  text-align:right;
  justify-content: space-between;
} */


/************** FOOTER ***************/

footer {
  position: fixed;
  display: inline-block;
  right: 10px;
  bottom: 10px;
  margin: 0;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  background-color: white;
  height: 40px;
}

footer img{
  display: inline-block;
  padding: 5px;
  filter: brightness(180%);
  height: 30px;
  width: auto;
}

footer img:hover{
  cursor: pointer;
}
